/* ==========================================================================
   Layout
   ========================================================================== */
.wrapper {
	position: relative;
	width: 100%;
}

#content {
	margin-top: 1.5em;
	padding: 0.1em 8em 1.5em;
}

#page {
	// background: #fff;
	width: 95%;
	max-width: $pageWidth;
	margin: 0 auto;
	box-shadow: 0 0 10px #838383;
}

.site-content {
	margin-top: 0;
	background: #fff;
	border-top: 3px solid $highlight;
}

.content-area {
	float: left;
	margin: 0 -25% 0 0;
	width: 100%;
}

.site-main {
	margin: 0 25% 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}

.site-footer {
	clear: both;
	width: 100%;
}
// Featured Image
.featuredImage {
	position: absolute;
	top: -276px;
	width: 100%;
	max-height: 276px;
	overflow: hidden;
	img {
		width:100%;
	}
}
.entry-meta {
	font-size: 0.7em;
}