/* ==========================================================================
   Menus
   ========================================================================== */

.main-navigation {
	clear: both;
	display: block;
	width: 97%;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 1.3em;
}

.main-navigation li {
	float: left;
	position: relative;
	width: 50%;
	padding: 0.5em 0;
	border-top: 1px dotted $blue;
	a {
		display: block;
		text-decoration: none;
		width: 100%;
		border-right: 1px dotted $blue;
		text-align: center;
	}
	&:nth-child(even) {
		a {
			border: 0;
		}
	}
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {
}

.main-navigation li:hover > a {
}

.main-navigation ul ul :hover > a {
}

.main-navigation ul ul a:hover {
}

.main-navigation ul li:hover > ul {
	display: block;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
	color: $highlight;
	&:before {
		content: "• ";
	}
	&:after {
		content: " •";
	}
}