.nivo-prevNav, .nivo-nextNav {
	display: block;
	width: 30px;
	height: 58px;
	background: $sprite;
	@include hidetext;
}
.nivo-prevNav {
	background-position: 0 0;
}
.nivo-nextNav {
	background-position: -30px 0;
}