/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
	#content {
		background: #fff;
	}
	.entry-content {
		margin: 0;
		padding:0 0 5em;
		line-height: 1.5em;
		p {
			width: 70%;
			margin: 0 auto 1.5em;
			padding: 0;
		}
	}
}
