/* ==========================================================================
   Home Page Template
   ========================================================================== */

body.home {
	#content {
		background: #fff;
	}
	.entry-content {
		margin: 0;
		padding:0 11em 5em;
		line-height: 1.5em;	
	}
}
